@model IEnumerable<WebApp.ChaatsModel.Order>

@{
    ViewData["Title"] = "OrderDetails";
}

<style>
    h1 {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    h3 {
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
    }


</style>
<h1 >Current Orders</h1>
<h3> hello @ViewBag.Username</h3>


<p>
    <a asp-action="AddOrder">Place a New Order</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Update Order</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Cancel Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>
