@model IEnumerable<MVC_Assign.Models.Drink>

@{
    ViewData["Title"] = "Drinks";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
    th,td,p{
        font-size:xx-large;
    }
    body {
        background-color: turquoise;
        

    }
    h1{
        color:lightyellow;
    }

</style>
<body>
<div class="container  ">

    <h1>Drinks</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

  

        <table class="table table-dark table-hover blax">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dimage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dname)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Dprice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content(item.Dimage)" height="100" width="100" />
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Dname)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Dprice)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>